:root {
  --navbar-top-height: 30px;
  --navbar-side-width: 250px;  
  --chatbar-height: 44px;

}

body {
  background-color: #171A1A;
}

.App {
  font-family: Arial, sans-serif;
  margin-top: 60px; /* Prevents content from being concealed by Top Navbar */
}

